@import "../../variables.scss";

.Header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
  width: 100%;
}

.Header_logo {
  flex-basis: 8%;
}

.MobileMenu {
  background: $mobilemenu;
  color: $white;
  height: 0;
  position: absolute;
  right: 0;
  top: 4rem;
  transition: height 0.8s, width 0.8s, transform 1s;
  width: 0;
}

.Visible {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
  height: 100%;
  width: 55%;
}
