// COLORS
$darkblue: #222627;
$mobilemenu: #1d263d;
$mobilemenu_hover: #273145;
$mobilemenu_select: #5868f0;
$black: #000;
$white: #fff;
$background: #0f0f0f;
$error: red;

//FONTS
$mont: "Montserrat", sans-serif;
